.daily_card {
  background-color: var(--color-card-bg);
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 10px;
  padding: 40px 0 40px 20px;
  border-radius: var(--border-radius);
  height: minmax(200px, min-content);
}
.daily_text {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 10px;
}
.daily_text h2 {
  background-color: var(--color-headline-bg);
  color: var(--color-headline-text-page);
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 1rem;
  margin: 0 0 0.5rem 0;
  font-size: var(--font-h2-size);
}
.daily_text p {
  padding-right: 2rem;
  margin: 0 0 1rem 0;
  color: var(--color-text-card);
}
.daily_text .cta_btn {
  justify-self: left;
  width: 80%;
  color: var(--color-text-inverted);
}
.daily_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news_card {
  background-color: var(--color-news-bg);
  display: grid;
  grid-template-rows: repeat(min-content);
  gap: 0.4rem;
  padding: 1rem 0;
  height: minmax(300px, min-content);
}
.news_card:nth-child(2n) {
  background-color: var(--color-news-bg-inverted);
}
.news_card > * {
  padding: 0 1rem;
}
.news_card h3 {
  margin: 0.5rem 0 0 0;
  color: var(--color-text-card);
}
.news_card p {
  margin: 0 0 1rem 0;
  color: var(--color-text-card);
}
.news_card:first-child:before {
  content: "BREAKING NEWS";
  background-color: var(--color-headline-bg);
  color: var(--color-headline-text-page);
  font-size: var(--font-h3-size);
  font-weight: var(--font-weight-medium);
  text-align: center;
  line-height: 1rem;
  padding: calc(2rem / 1.5) 0 calc(2rem / 2) 0;
}
.news_card:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.news_card:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.news_card .cta_btn {
  justify-self: center;
  border: none;
}
.cta_btn {
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: var(--color-cta-card-bg);
  color: var(--color-text);
  text-decoration: none;
  width: max-content;
  border-radius: var(--border-radius);
}
.news_card .cta_btn {
  background-color: var(--color-cta-newscard-bg);
  color: var(--color-text-card);
}
.news_card:nth-of-type(2n) .cta_btn {
  background-color: var(--color-cta-newscard-bg-inverted);
  color: var(--color-text-card);
}
.cta_btn:after {
  content: "\2192";
  margin-left: 1rem;
}

[popover] {
  padding: 1rem;
  margin: auto;
  /* scrollbar-width: none; */
  opacity: 0;
  transition: 0.3s allow-discrete;

  button {
    position: sticky;
    top: 0;
    justify-self: end;
    background-color: var(--color-menu-bg);
    color: var(--color-link-bg);
    border: none;
    padding: 0;
    font-weight: bold;
  }

  &:popover-open {
    display: grid;
  }

  &::backdrop {
    background: #0008;
  }
}

[popover] {
  max-height: 90vh;
  max-width: 50ch;
  width: 90vw;
}
:popover-open {
  opacity: 1;
}
@starting-style {
  :popover-open {
    opacity: 0;
  }
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  margin-top: 1.5em;
}

.overskrift_cards {
  color: var(--color-link-bg);
  background-color: var(--color-head-bg);
  font-size: larger;
  margin: 0;
  margin-left: -16px;
  margin-right: -16px;
  padding: 15px 30px 15px 46px;
  /* Valgfrit: hvis du vil have lidt ekstra top/bundmellemrum */
  margin-top: 2.5px;
  margin-bottom: 10px;
}
h6 {
  font-size: 1em;
  font-weight: bold;
}
