#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--color-card-bg);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

input {
  background-color: #dbe2f5;
  border: 1px solid #ccc;
  padding: 0.25rlh;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
}

textarea {
  background-color: #dbe2f5;
  border: 1px solid #ccc;
  padding: 0.25rlh;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
}

button {
  border: none;
  background-color: #ff4b00;
  color: #fff;
  cursor: pointer;
}

form button {
  justify-self: end; /* placerer den helt ude til højre i grid’en */
  padding: 0.5rem 5rem; /* afstand omkring teksten */
  font-weight: bold; /* valgfrit: giver mere tydelig tekst */
}

.error-message {
  color: darkred;
}

form {
  display: grid;
  gap: 1rlh;
  padding: 1rlh;
}

.form-group {
  display: grid;
  gap: 0.1rlh;
}

button:hover {
  background: #0000ff;
}

button:active {
  scale: 0.98;
}

.error-message {
  display: none;
}

.form-group:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}

.form-group:has(:user-invalid) {
  input {
    outline: 2px solid red;
  }
  .error-message {
    display: block;
  }
}

:focus-visible {
  outline: 2px solid #6a5acd;
  outline-offset: 1px;
}
/* .form-group:has(:user-invalid) {
  textarea {
    outline: 2px solid red;
  }
  .error-message {
    display: block;
  }
} */

.person:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}

.person:has(:user-invalid) {
  input {
    outline: 2px solid red;
  }
  .error-message {
    display: block;
  }
}

.person:has(:user-invalid) {
  select {
    outline: 2px solid red;
  }
  .error-message {
    display: block;
  }
}

#form-info h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--color-headline-bg);
  color: var(--color-headline-text-page);
  margin-bottom: 1rem;
}

#form-info {
  padding: 1rlh;
}

textarea::placeholder {
  color: #777; /* grå farve */
  font-style: italic; /* kursiv tekst */
}
